<h1><%= @article.title %></h1>
<p>
<%= @article.text %>
</p>
<h2>Comments</h2>
<% @article.comments.each do |comment| %>
    <p>
    <i><%= comment.author %> said:</i><br />
    <%= comment.body%>
    </p>
<% end %>

<h2>Add Comment</h2>
<p>
<%= form_for([@article, @article.comments.build]) do |c| %>
    <p>
        <%= c.label :author %><br/>
        <%= c.text_field :author %>
    </p>

    <p>
        <%= c.label :body %><br/>
        <%= c.text_area :body %>
    </p>

    <p>
        <%= c.submit %>
    </p>
<% end %>
</p>